@import "common/colors.scss";

@import "components/MonthSelect.scss";
@import "components/Table.scss";
@import "components/Row.scss";

.App
{
  text-align: center;

  &-container
  {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

// React boilerplate CSS

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
